global:
  http_config:
    tls_config:
      insecure_skip_verify: true
  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'
  smtp_smarthost: '{{ alertmanager_arg.smtp.smarthost | default("127.0.0.1:25") }}'
  smtp_from: '{{ alertmanager_arg.smtp.from | default("do-not-reply@somebody.com") }}'
{% if alertmanager_arg.smtp.enable | bool %}
  smtp_require_tls: {{ alertmanager_arg.smtp.require_tls | bool | to_json | default(false) }}
  smtp_auth_username: '{{ alertmanager_arg.smtp.auth_username | default("user") }}'
  smtp_auth_password: '{{ alertmanager_arg.smtp.auth_password | default("changeme") }}'
{% endif %}

templates:
- '/etc/prometheus/templates/default.tmpl'

# https://prometheus.io/webtools/alerting/routing-tree-editor

route:
  group_by: ['{{ alertmanager_arg.group_by | list | join("', '") }}']
  group_wait: '{{ alertmanager_arg.group_wait }}'
  group_interval: '{{ alertmanager_arg.group_interval }}'
  repeat_interval: '{{ alertmanager_arg.repeat_interval }}'
  receiver: "null"
  routes:
{% if alertmanager_arg.wechat.enable | bool %}
    - match:
        severity: {{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].critical }}
      receiver: team-infra-wechat
      continue: true
    - match:
        severity: {{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].high }}
      receiver: team-infra-wechat
      continue: true
{% endif %}
{% if alertmanager_arg.webhook.enable | bool %}
{% for webhook_parameter in alertmanager_arg.webhook.apps %}
    - match:
      receiver: team-infra-{{ webhook_parameter.name }}
      continue: true
{% endfor %}
{% endif %}
{% if alertmanager_arg.smtp.enable | bool %}
{% for smtp_parameter in alertmanager_arg.smtp.apps %}
    - match:
{% if smtp_parameter.match is defined %}
{% for key,value in smtp_parameter.match.iteritems() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endif %}
      receiver: team-{{ smtp_parameter.name }}-mails
      continue: true
{% endfor %}
{% endif %}

inhibit_rules:
- source_match:
    severity: '{{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].critical }}'
  target_match:
    severity: '{{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].high }}'
  equal: ['{{ alertmanager_arg.group_by | list | join("', '") }}']

receivers:
  - name: "null"
{% if alertmanager_arg.smtp.enable | bool %}
{% for smtp_parameter in alertmanager_arg.smtp.apps %}
  - name: team-{{ smtp_parameter.name }}-mails
    email_configs:
      - send_resolved: true
        to: '{{ smtp_parameter.recipients | default("somebody@somebody.com") }}'
{% endfor %}
{% endif %}
{% if alertmanager_arg.wechat is defined %}
  - name: team-infra-wechat
    wechat_configs:
      - send_resolved: true
        to_party: '{{ alertmanager_arg.wechat.to_party }}'
        agent_id: '{{ alertmanager_arg.wechat.agentid }}'
        corp_id: '{{ alertmanager_arg.wechat.corpid }}'
        api_secret: '{{ alertmanager_arg.wechat.api_secret }}'
{% endif %}
{% if alertmanager_arg.webhook is defined %}
{% for webhook_parameter in alertmanager_arg.webhook.apps %}
  - name: team-infra-{{ webhook_parameter.name }}
    webhook_configs:
      - send_resolved: true
        url: '{{ webhook_parameter.url }}'
{% endfor %}
{% endif %}
