global:
  http_config:
    tls_config:
      insecure_skip_verify: true
  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'
{% if alertmanager_arg.smtp_arg is defined %}
  smtp_smarthost: '{{ alertmanager_arg.smtp_arg.smarthost }}'
  smtp_from: '{{ alertmanager_arg.smtp_arg.from }}'
  smtp_require_tls: {{ alertmanager_arg.smtp_arg.require_tls | bool | to_json }}
  smtp_auth_username: '{{ alertmanager_arg.smtp_arg.auth_username }}'
  smtp_auth_password: '{{ alertmanager_arg.smtp_arg.auth_password }}'
{% endif %}

templates:
- '/etc/prometheus/templates/default.tmpl'

# https://prometheus.io/webtools/alerting/routing-tree-editor

route:
  group_by: ['{{ alertmanager_arg.group_by | list | join("', '") }}']
  group_wait: '{{ alertmanager_arg.group_wait }}'
  group_interval: '{{ alertmanager_arg.group_interval }}'
  repeat_interval: '{{ alertmanager_arg.repeat_interval }}'
{% if alertmanager_arg.smtp_arg is defined %}
  receiver: team-infra-mails
{% endif %}
  routes:
{% if alertmanager_arg.wechat_arg.api_corpid is defined %}
    - match:
        severity: {{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].critical }}
      receiver: team-infra-wechat
      continue: true
    - match:
        severity: {{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].high }}
      receiver: team-infra-wechat
      continue: true
{% endif %}
{% if alertmanager_arg.webhook is defined %}
{% for webhook_parameter in alertmanager_arg.webhook %}
    - match:
      receiver: team-infra-{{ webhook_parameter.name }}
      continue: true
{% endfor %}
{% endif %}

inhibit_rules:
- source_match:
    severity: '{{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].critical }}'
  target_match:
    severity: '{{ vars['prometheus_alert_incident_' + prometheus_alert_incident_levels_map].high }}'
  equal: ['{{ alertmanager_arg.group_by | list | join("', '") }}']

receivers:
{% if alertmanager_arg.smtp_arg is defined %}
  - name: 'team-infra-mails'
    email_configs:
      - send_resolved: true
        to: '{{ alertmanager_arg.smtp_arg.to }}'
{% endif %}
{% if alertmanager_arg.wechat_arg is defined %}
  - name: "team-infra-wechat"
    wechat_configs:
      - send_resolved: true
        to_party: '{{ alertmanager_arg.wechat_arg.to_party }}'
        agent_id: '{{ alertmanager_arg.wechat_arg.agentid }}'
        corp_id: '{{ alertmanager_arg.wechat_arg.corpid }}'
        api_secret: '{{ alertmanager_arg.wechat_arg.secret }}'
{% endif %}
{% if alertmanager_arg.webhook is defined %}
{% for webhook_parameter in alertmanager_arg.webhook %}
  - name: "team-infra-{{ webhook_parameter.name }}"
    webhook_configs:
      - send_resolved: true
        url: '{{ webhook_parameter.url }}'
{% endfor %}
{% endif %}