# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for Azure Monitor metrics.
Documentation=https://github.com/webdevops/azure-metrics-exporter
After=network.target

[Service]
Environment=AZURE_TENANT_ID={{ prometheus_azure_monitor.tenant_id | default('xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx') }}
Environment=AZURE_CLIENT_ID={{ prometheus_azure_monitor.client_id | default('xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx') }}
Environment=AZURE_CLIENT_SECRET={{ prometheus_azure_monitor.client_secret | default('xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx') }}
Environment=AZURE_ENVIRONMENT={{ prometheus_azure_monitor.environment | default('AzureChinaCloud') }}
User=prometheus
LimitNOFILE=262144
LimitNPROC=262144
LimitCORE=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/azure-metrics-exporter --bind=0.0.0.0:{{ prometheus_port.azure_monitor | default('9276') }} --enable-caching
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
