type: {{ thanos_obj_arg.type }}
config:
  bucket: {{ thanos_obj_arg.bucket }}
  endpoint: {{ thanos_obj_arg.endpoint | lower }}
  insecure: {{ thanos_obj_arg.insecure | bool | to_json }}
  signature_version2: {{ thanos_obj_arg.signature_version2 | bool | to_json }}
  access_key: {{ thanos_obj_arg.access_key }}
  secret_key: {{ thanos_obj_arg.secret_key }}
