[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul-template
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS=2
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
User={{ consul_template_arg.user }}
LimitNOFILE={{ consul_template_arg.ulimit_nofile }}
LimitNPROC={{ consul_template_arg.ulimit_nproc }}
ExecStart=/usr/local/bin/consul-template $OPTIONS -config={{ consul_template_arg.conf_path }}/server
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID
KillMode=process
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
