PROMETHEUS_OPTS='--config.file={{ prometheus_conf_path }}/prometheus.yml --storage.tsdb.path={{ prometheus_data_path }}/prometheus --storage.tsdb.retention.time={{ prometheus_arg.storage_tsdb_retention }} --storage.tsdb.max-block-duration={{ prometheus_arg.storage_tsdb_block_duration }} --storage.tsdb.min-block-duration={{ prometheus_arg.storage_tsdb_block_duration }} --query.max-concurrency={{ prometheus_arg.query_max_concurrency }} --web.listen-address="{{ ansible_default_ipv4.address }}:{{ prometheus_port.prometheus }}" --web.enable-lifecycle --storage.tsdb.wal-compression'
