# -*- mode: conf -*-

[Unit]

Description=Prometheus push acceptor for ephemeral and batch jobs.
Documentation=https://github.com/prometheus/pushgateway
After=network.target


[Service]
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS={{ (ansible_processor_vcpus * 0.5 + 1)|int }}
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
EnvironmentFile=-/etc/default/pushgateway
User=prometheus
LimitNOFILE={{ prometheus_arg.ulimit_nofile }}
LimitNPROC={{ prometheus_arg.ulimit_nproc }}
LimitCORE={{ prometheus_arg.ulimit_core }}
LimitMEMLOCK={{ prometheus_arg.ulimit_memlock }}
ExecStart=/usr/bin/pushgateway $PUSHGATEWAY_OPTS
Restart=on-failure
RestartSec=30s

[Install]

WantedBy=multi-user.target
