THANOS_SIDECAR_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --prometheus.url http://127.0.0.1:{{ prometheus_port.prometheus }} --tsdb.path {{ prometheus_data_path }}/prometheus --grpc-address 0.0.0.0:{{ thanos_port.sidecar_grpc }} --http-address 0.0.0.0:{{ thanos_port.sidecar_http }} {% if thanos_obj_arg is defined %}--objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml{% endif %}{% if thanos_arg.version | int >= 0.5.0 %} --cluster.address 0.0.0.0:{{ thanos_port.sidecar_cluster }} --cluster.gossip-interval {{ thanos_arg.cluster_gossip_interval }} --cluster.pushpull-interval {{ thanos_arg.cluster_pushpull_interval }} --cluster.refresh-interval {{ thanos_arg.cluster_refresh_interval }} --cluster.secret-key {{ thanos_cluster_secret_key }}{% endif %}"