THANOS_QUERY_FRONTEND_OPTS='--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --http-address={{ ansible_default_ipv4.address }}:{{ thanos_port.query_frontend_http }} --query-frontend.downstream-url=http://{{ ansible_default_ipv4.address }}:{{ thanos_port.query_http }} --query-range.split-interval=1h --query-range.max-retries-per-request=10 --query-range.max-query-parallelism=128 --query-frontend.compress-responses --query-range.response-cache-config-file={{ prometheus_data_path }}/thanos/cache.yml'
