THANOS_COMPACT_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --http-address 0.0.0.0:{{ thanos_port.compact_http }} --objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml --data-dir {{ prometheus_data_path }}/compact --wait"