THANOS_SIDECAR_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --prometheus.url http://{{ ansible_default_ipv4.address }}:{{ prometheus_port.prometheus }} --tsdb.path {{ prometheus_data_path }}/prometheus --grpc-address {{ ansible_default_ipv4.address }}:{{ thanos_port.sidecar_grpc }} --http-address {{ ansible_default_ipv4.address }}:{{ thanos_port.sidecar_http }} {% if thanos_bucket_is_used | bool %}--objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml{% endif %}"
