[Unit]
Description=Thanos Query

[Service]
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS={{ (ansible_processor_vcpus * 0.5 + 1)|int }}
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
Type=simple
User=prometheus
Group=prometheus
LimitNOFILE={{ thanos_arg.ulimit_nofile }}
LimitNPROC={{ thanos_arg.ulimit_nproc }}
LimitCORE={{ thanos_arg.ulimit_core }}
LimitMEMLOCK={{ thanos_arg.ulimit_memlock }}
EnvironmentFile=-/etc/default/thanos-query
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-query
ExecStart=/usr/local/bin/thanos query $THANOS_QUERY_OPTS
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
