THANOS_QUERY_OPTS="--cluster.gossip-interval {{ thanos_arg.cluster_gossip_interval }} --cluster.pushpull-interval {{ thanos_arg.cluster_pushpull_interval }} --cluster.refresh-interval {{ thanos_arg.cluster_refresh_interval }} --log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --grpc-address 0.0.0.0:{{ thanos_port.query_grpc }} --http-address 0.0.0.0:{{ thanos_port.query_http }} --cluster.address 0.0.0.0:{{ thanos_port.query_cluster }}{% if thanos_server is defined %} --store {{ thanos_server | list | join(":" + thanos_port.sidecar_grpc + " --store ") }}:{{ thanos_port.sidecar_grpc }}{% endif %}{% if thanos_obj_arg is defined %} --store 0.0.0.0:{{ thanos_port.store_grpc }}{% endif %} --query.max-concurrent {{ thanos_arg.query_max_concurrent }} --query.timeout {{ thanos_arg.query_timeout }} --query.replica-label replica --cluster.secret-key {{ thanos_cluster_secret_key }}{% if thanos_arg.query_auto_downsampling %} --query.auto-downsampling{% endif %}"
