THANOS_COMPACT_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --http-address {{ ansible_default_ipv4.address }}:{{ thanos_port.compact_http }} --objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml --data-dir {{ prometheus_data_path }}/compact --retention.resolution-raw={{ thanos_obj_arg.retention }}d --retention.resolution-5m={{ thanos_obj_arg.retention }}d --retention.resolution-1h={{ thanos_obj_arg.retention }}d --wait"
