THANOS_QUERY_FRONTEND_OPTS='--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --http-address={{ ansible_default_ipv4.address }}:{{ thanos_port.query_frontend }} --query-frontend.downstream-url=http://{{ ansible_default_ipv4.address }}:{{ thanos_port.query_http }} --query-range.split-interval=3h --query-range.max-retries-per-request=10 --query-range.max-query-parallelism=64 --query-frontend.compress-responses'
