THANOS_STORE_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --grpc-address 0.0.0.0:{{ thanos_port.store_grpc }} --http-address 0.0.0.0:{{ thanos_port.store_http }} --objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml --data-dir {{ prometheus_data_path }}/thanos --index-cache-size {{ thanos_arg.index_cache_size }} --chunk-pool-size {{ thanos_arg.chunk_pool_size }}{% if thanos_arg.version | int >= 0.5.0 %} --cluster.secret-key {{ thanos_cluster_secret_key }} --cluster.gossip-interval {{ thanos_arg.cluster_gossip_interval }} --cluster.pushpull-interval {{ thanos_arg.cluster_pushpull_interval }} --cluster.refresh-interval {{ thanos_arg.cluster_refresh_interval }} --cluster.address 0.0.0.0:{{ thanos_port.store_cluster }}{% endif %}"