THANOS_QUERY_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --query.partial-response --grpc-address {{ ansible_default_ipv4.address }}:{{ thanos_port.query_grpc }} --http-address {{ ansible_default_ipv4.address }}:{{ thanos_port.query_http }}{% if thanos_server is defined %} --store {{ thanos_server | list | join(":" + thanos_port.sidecar_grpc + " --store ") }}:{{ thanos_port.sidecar_grpc }}{% endif %}{% if thanos_bucket_is_used | bool %} --store {{ ansible_default_ipv4.address }}:{{ thanos_port.store_grpc }}{% endif %} --query.max-concurrent {{ thanos_arg.query_max_concurrent }} --query.timeout {{ thanos_arg.query_timeout }} --query.replica-label replica{% if thanos_arg.query_auto_downsampling %} --query.auto-downsampling{% endif %}"
