[Unit]
Description=Thanos Compact

[Service]
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS={{ (ansible_processor_vcpus * 0.5 + 1)|int }}
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
Type=simple
User=prometheus
Group=prometheus
LimitNOFILE={{ thanos_arg.ulimit_nofile }}
LimitNPROC={{ thanos_arg.ulimit_nproc }}
LimitCORE={{ thanos_arg.ulimit_core }}
LimitMEMLOCK={{ thanos_arg.ulimit_memlock }}
EnvironmentFile=-/etc/default/thanos-compact
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-compact
ExecStart=/usr/bin/thanos compact $THANOS_COMPACT_OPTS
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
