THANOS_STORE_OPTS="--log.level {{ thanos_arg.log_level }} --log.format {{ thanos_arg.log_format }} --grpc-address {{ ansible_default_ipv4.address }}:{{ thanos_port.store_grpc }} --http-address {{ ansible_default_ipv4.address }}:{{ thanos_port.store_http }} --objstore.config-file {{ prometheus_data_path }}/thanos/bucket.yml --data-dir {{ prometheus_data_path }}/thanos --index-cache-size {{ thanos_arg.index_cache_size }} --chunk-pool-size {{ thanos_arg.chunk_pool_size }} --store.grpc.series-max-concurrency {{ thanos_arg.query_max_concurrent }} --block-sync-concurrency 64 --experimental.enable-index-cache-postings-compression"
