[main]
instance_id = 1

[frontend]
listen_address = '{{ ansible_default_ipv4.address }}'
listen_port = {{ trickster_port.proxy_server }}

[caches]
    [caches.default]
    cache_type = '{{ trickster_arg.cache_type }}'
    timeseries_ttl_secs = {{ trickster_arg.record_ttl_secs }}
    fastforward_ttl_secs = 15
        [caches.default.index]
        reap_interval_secs = 3
        flush_interval_secs = 5
        max_size_bytes = {{ trickster_arg.max_size_bytes }}
        max_size_backoff_bytes = 16777216
        max_size_objects = 0
        max_size_backoff_objects = 100
[origins]
    [origins.default]
    is_default = true
    origin_type = 'prometheus'
    cache_name = 'default'
    origin_url = 'http://{{ ansible_default_ipv4.address }}:{% if thanos_is_install %}{{ thanos_port.query_http }}{% else %}{{ prometheus_port.prometheus }}{% endif %}'
    timeout_secs = 180
    keep_alive_timeout_secs = 300
    max_idle_conns = 1024
    timeseries_retention_factor = {{ trickster_arg.timeseries_retention_factor }}
    timeseries_eviction_method = 'oldest'
    fast_forward_disable = {{ trickster_arg.fast_forward_disable | bool | to_json }}
    backfill_tolerance_secs = 0

[metrics]
listen_address = '{{ ansible_default_ipv4.address }}'
listen_port = {{ trickster_port.metrics }}

[logging]
log_level = 'info'
log_file = '/var/log/trickster.log'
