# -*- mode: conf -*-

[Unit]
Description=Dashboard Accelerator for Prometheus
Documentation=https://github.com/Comcast/trickster
After=network.target

[Service]
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS={{ (ansible_processor_vcpus * 0.5 + 1)|int }}
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
EnvironmentFile=-/etc/default/trickster
User=prometheus
LimitNOFILE={{ trickster_arg.ulimit_nofile }}
LimitNPROC={{ trickster_arg.ulimit_nproc }}
LimitCORE={{ trickster_arg.ulimit_core }}
LimitMEMLOCK={{ trickster_arg.ulimit_memlock }}
ExecStart=/usr/local/bin/trickster -config /etc/trickster.conf $TRICKSTER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
