# -*- mode: conf -*-

[Unit]
Description=Dashboard Accelerator for Prometheus
Documentation=https://github.com/Comcast/trickster
After=network.target

[Service]
{% if ansible_processor_vcpus > 1 %}
Environment=GOMAXPROCS={{ (ansible_processor_vcpus * 0.5 + 1)|int }}
{% else %}
Environment=GOMAXPROCS=1
{% endif %}
EnvironmentFile=-/etc/default/trickster
User=prometheus
LimitNOFILE={{ trickster_arg.ulimit_nofile }}
LimitNPROC={{ trickster_arg.ulimit_nproc }}
LimitCORE={{ trickster_arg.ulimit_core }}
LimitMEMLOCK={{ trickster_arg.ulimit_memlock }}
ExecStart=/usr/local/bin/trickster -origin http://127.0.0.1:{% if thanos_is_install %}{{ thanos_port.query_http }}{% else %}{{ prometheus_port.prometheus }}{% endif %} -origin-type prometheus -proxy-port {{ trickster_port.proxy_server }} -metrics-port {{ trickster_port.metrics }} -log-level info
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
